body{
    width: 100%;
    height: 100vh;
}
#aboutus{
    width: 100%;
    height: 50vh;
}
#aboutus h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
#services{
    width: 100%;
    height: 50vh;

}
#services h5{
    display: flex;
    justify-content: center;
    align-items: center;

}
#wettin{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#portfolio{
    width: 100%;
    height: 70vh;
    






}
#portfolio h5{
    display: flex;
    justify-content: center;
    align-items: center;


}


   