body{
    width: 100%;
    height: 100vh;
    
    
}
header{
    background-image: url(/IMAGES/h_img.jpg);
    background-size: cover;
   width: 100%;
   height: 100vh;
  text-align: center;
  color: white;
  font-family: 'Yantramanav', sans-serif;
    

}
span{
    display: none;
}
#id{
    display: flex;
    align-items: center;
    justify-content: center;
}


.col-md-3:hover{
    transition: 0.5s;
    color: aqua;
}
#services{
    background-image: url(/IMAGES/s_image.jpg);
    background-size: cover;
   width: 100%;
   height: 20vh;
  text-align: center;
  color: white;
  font-size:xx-small;
  font-family: 'Yantramanav', sans-serif;
    
}
#BIG_C .card-text{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background-color: transparent;
    margin-top: 30%;
    font-weight: 600;
    font-size: medium;
    color:transparent;


}
#BIG_C .card-text:hover{
    cursor: pointer;
    color: white ;
    overflow: hidden;
}
.Portfolio .col-sm-12, col-md-4{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Contact-Us{
    background-image: url(/IMAGES/c_image.jpg);
}



